.sub-header {
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  padding: 10px 30px;
  font-family: inherit;
  font-weight: 500;
  height: 50px;
  box-shadow: 2px 5px 7px -1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 2px 5px 7px -1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 2px 5px 7px -1px rgba(0, 0, 0, 0.21);
}
.sub-header > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-header img {
  width: 20px;
  margin-right: 5px;
}
